<!DOCTYPE html>

{% load static %}

<html>

    <head>
        <title>Rango</title>
        <!--<link rel="stylesheet" href="{% static "css/base.css" %}" /> &lt;!&ndash; CSS &ndash;&gt;-->
        <!--<script src="{% static "js/jquery.js" %}"></script> &lt;!&ndash; JavaScript &ndash;&gt;-->
    </head>

    <body>
        <h1>Including Media</h1>
        <img src="../media/rango.jpg" alt="Picture of Rango" /> <!-- Images -->
        <a href='about/'>About</a>.
    </body>

</html>